<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>

	<Appenders>
		<Console name="STDOUT"
		         target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d %C (%F:%M:%L) - %m%n" />
		</Console>
	</Appenders>

	<Loggers>

		<Root level="DEBUG">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>

</Configuration>